body {
  background-image: url(https://i.pinimg.com/originals/57/b8/e3/57b8e3fc393fb939cb84309d2443e2ba.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
